.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    display: inline-block;
    margin-right: 1rem;
    width: 200px;
    
    @media (min-width: 992px) {
        width: 320px;
    }
}
