.modal-hide {
    transition: opacity, background-color 0.5s ease-in-out;
    opacity: 0;
}
.modal-hide.in {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#333333, 0.6);
    opacity: 1;
    transition: opacity, background-color 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    max-width: 300px;
    width: 100%;
    background: #fff;
    min-height: 400px;
    padding: 2.25rem;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 0.5rem;

    &__header {
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 2rem;
    }
    &__body {
        width: 100%;
    }
    &__footer {
        width: 100%;
        margin-top: auto;
        text-align: center;
    }
}
.modal-hide .modal {
    display: none;
}
.modal-hide.in .modal {
    display: flex;
}
