.card-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    &__card {
        margin: 0.5rem 0.625rem;
        width: 100%;
        width: calc(100% - 1.25rem);

        &--col-3 {
            flex-basis: calc(100% - 1.25rem);           

            @media (min-width: 576px) {
                flex-basis: calc(50% - 1.25rem);
            }

            @media (min-width: 992px) {
                flex-basis: calc(25% - 1.25rem);
            }
        }
    }

    &--column {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 0rem;
        margin-right: 0rem;

        .card-box__card {
            flex-basis: 100%;
            margin: 0rem 0px 1rem;
        }
    }
}
