.button {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5625rem 2rem;
    font-size: 1rem;
    line-height: 1.2;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;

    &:not(:disabled) {
        cursor: pointer;
    }
    &:focus {
        outline: none;
        &:not(:disabled) {
            box-shadow: 0 0 0 0.125rem rgba(#333333, 0.5);
        }
    }

    &--main {
        color: #fff;

        background: #e5261e;
        border: 1px solid #e5261e;

        &:hover:not(:disabled) {
            background: #cc221b;
            border: 1px solid #cc221b;
        }
        &:focus {
            &:not(:disabled) {
                box-shadow: 0 0 0 0.125rem rgba(#e5261e, 0.5);
            }
        }
    }

    &--link {
        padding: 0.375rem 0.5rem;
        color: #e5261e;

        &:hover:not(:disabled) {
            color: #cc221b;
        }
        &:focus {
            &:not(:disabled) {
                box-shadow: 0 0 0 0.125rem rgba(#e5261e, 0.5);
            }
        }
    }
}
