$custom-checkbox-indicator-icon-checked: str-replace(
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='#E5261E' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"),
    "#",
    "%23"
);

.custom-checkbox {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;

    &__input {
        position: absolute;
        z-index: -1;
        opacity: 0;

        &:checked ~ .custom-checkbox__label {
            &::after {
                content: "";
                background-size: 10px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill%3D%22%23e5261e%22 viewBox='0 0 10 8'%3E%3Cpath d='M3.18182 6.02273L0.795455 3.63636L0 4.43182L3.18182 7.61364L10 0.795454L9.20455 0L3.18182 6.02273Z'/%3E%3C/svg%3E");
            }
        }
    }
    &__label {
        display: inline-block;

        &:before {
            content: "";
            border: 1px solid #333333;
            box-sizing: border-box;
            border-radius: 0.25rem;
            position: absolute;
            top: 0rem;
            left: 0;
            display: block;
            width: 1rem;
            height: 1rem;
            pointer-events: none;
            
        }

        &:after {
            content: "";
            position: absolute;
            top: 0rem;
            left: 0;
            display: block;
            width: 1rem;
            height: 1rem;        
        }
    }
}
