.form-control {
    display: block;
    width: 100%;
    max-width: 320px;
    height: calc(1.2em + 0.75rem + 2px);
    padding: 0.375rem 0rem;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2;
    color: #333333;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-bottom-color: #828282;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &::placeholder {
        color: #828282;
    }

    &:focus {
        outline: none;
        border-bottom-color: #333333;
    }
}
