.input-button {
    display: inline-block;
    height: calc(1.2em + 0.75rem + 2px);
    padding: 0.375rem 0.5rem 0.375rem 0rem;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.2;
    color: #333333;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 0;
    width: auto;
    transition: color 0.4s ease-in-out, border-color 0.4s ease-in-out, text-align 0.4s ease-in-out;
    cursor: pointer;
    // max-width: 180px;
    width: 200px;
    text-align: left;

    @media (min-width: 992px) {
        max-width: 180px;
        width: 180px;
        text-align: center;
    }

    &::placeholder {
        color: #828282;
    }

    &:hover:not(:disabled) {
        color: darken(#333333, 15%);
        border-bottom-color: #333333;
    }
    &:focus {
        outline: none;
        border-bottom-color: #333333;
        padding: 0.375rem 0.5rem 0.375rem 0rem;
        border-radius: 0;
        text-align: left;
        width: 200px;

        @media (min-width: 992px) {
            max-width: 180px;
            width: 180px;
        }
    }
}
