.channel {
    background: #f2f2f2;
    border-radius: 0.5rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    &__logo {
        padding: 1.25rem 1rem;

        @media (min-width: 768px) {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33.333%;
            flex: 0 0 33.333%;
            max-width: 33.333%;
        }
    }

    &__body {
        padding: 1.25rem 1rem;

        @media (min-width: 768px) {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 66.6666%;
            flex: 0 0 66.6666%;
            max-width: 66.6666%;
        }
    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.2;
        margin-bottom: 1rem;
    }
}

.channel-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
        display: inline-block;
        max-width: 114px;
        max-height: 65px;
    }
}

.channel-program {
    &--active {
        color: #e5261e;
    }

    width: 100%;
    display: flex;
    margin-bottom: 0.75rem;

    &:last-of-type {
        margin-bottom: 0;
    }

    &__time {
        display: inline-block;
        margin-right: 1rem;
    }
    &__text {
        display: inline-block;
    }
}
