.film {
    position: relative;
    border-radius: 0.5rem;

    &__title {
        font-size: 1.25rem;
        font-style: normal;
        font-weight: normal;
        line-height: 1.5rem;
        text-align: center;

        @media (min-width: 992px) {
            text-align: left;
        }
    }

    &__body {
        position: relative;
        width: 100%;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    &__img {
        width: 100%;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
        height: calc(1.321428571 * 280px);
        border-radius: 0.5rem;
        overflow: hidden;
        background-size: cover !important;
        background-position: 50% 0% !important;
        background-repeat: no-repeat !important;
        margin-bottom: 1rem;

        @media (min-width: 576px) {
            height: 370px;
        }
    }
    &__img-overlay {
        display: block;
        text-decoration: none !important;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1.25rem;
        opacity: 0;
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        &:hover {
            background: rgba(#333333, 0.8);
            border-radius: 0.5rem;
            color: #f2f2f2;
            opacity: 1;
        }
    }

    &__description {
        display: block;
        font-size: 1rem;
        line-height: 1.4;
        word-break: break-word;
    }
}

.film-image-preview {
    max-width: 100%;
}
