.genre {
    &__body {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        text-decoration: none !important;
        padding: 1.5rem;
        border-radius: 0.375rem;
        box-shadow: inset 0px 0px 1rem rgba(0, 0, 0, 0.15);
        transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, opacity 0.15s ease-in-out;

        &--citrus {
            background: linear-gradient(127.83deg, #f2c94c 8.44%, #f29a4a 91.36%);
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
            &:focus {
                opacity: 1;
                box-shadow: inset 0px 0px 2rem rgba(0, 0, 0, 0.25);
            }
        }
        &--persic {
            background: linear-gradient(127.83deg, #f2994a 8.44%, #eb5757 91.36%);
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
            &:focus {
                opacity: 1;
                box-shadow: inset 0px 0px 2rem rgba(0, 0, 0, 0.25);
            }
        }
        &--blue {
            background: linear-gradient(127.83deg, #56ccf2 8.44%, #2f80ed 91.36%);
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
            &:focus {
                opacity: 1;
                box-shadow: inset 0px 0px 2rem rgba(0, 0, 0, 0.25);
            }
        }
        &--dark {
            background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
            opacity: 0.8;

            &:hover {
                opacity: 1;
            }
            &:focus {
                opacity: 1;
                box-shadow: inset 0px 0px 2rem rgba(0, 0, 0, 0.25);
            }
        }
    }
    &__title {
        color: #ffffff;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: normal;
        line-height: 1.5rem;
        text-align: center;
    }
    &__icon {
        display: inline-block;
        font-size: 3rem;
        line-height: 3.5625rem;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: calc(5rem - 1.5rem);
    }
}
