@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  color: #333333;
  text-align: left;
  background: #ffffff;
}

h3,
.h3 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 768px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 960px;
  }
  @media (min-width: 1200px) {
    max-width: 1080px;
  }
  @media (min-width: 1440px) {
    max-width: 1180px;
  }
}

a {
  color: #1f4766;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    color: darken(#1f4766, 15%);
    text-decoration: underline;
  }
}

.d-flex {
  display: flex;
}

.ml-lg-3 {
  @media (min-width: 992px) {
    margin-left: 1rem !important;
  }
}
.mr-lg-3 {
  @media (min-width: 992px) {
    margin-right: 1rem !important;
  }
}

.ml-3 {
  margin-left: 1rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}

.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.page__logo {
  height: 40vmin;
  pointer-events: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
  flex-direction: row;
  flex-wrap: wrap;
  // padding-top: 1rem;
  // padding-bottom: 1rem;

  @media (min-width: 992px) {
    align-items: center;
    // flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__col {
    -ms-flex-preferred-size: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;

    @media (min-width: 992px) {
      flex-basis: 0;
    }

    display: flex;

    &--center {
      justify-content: center;
    }

    &--right {
      justify-content: flex-end;
    }
  }

  &__toggler {
    border: none;
    background: transparent;

    &:focus {
      outline: none;
      // box-shadow: 0 0 0 0.125rem rgba(#333333, 0.5);
    }

    @media (min-width: 992px) {
      display: none;
    }
  }

  &__collapse {
    display: none;
    width: 100%;

    @media (min-width: 992px) {
      display: flex !important;
    }

    &--active {
      display: block;
    }
  }

  &__logo {
    max-width: 50vw;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @media (min-width: 992px) {
      flex: 0 0 25%;
      max-width: 25%;
    }

    & img {
      max-width: 100%;
    }
  }
  &__body {
    line-height: 1.5rem;
  }
  &__text {
    margin-bottom: 0.625rem;
  }
  &__search {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__signin {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: center;
  }
}

.footer-content {
  display: flex;

  @media (min-width: 768px) {
    align-items: center;
  }

  &__logo {
    margin-right: 1rem;
    @media (min-width: 768px) {
      margin-right: 2.5rem;
    }
  }
  &__body {
    line-height: 1.5rem;
  }
  &__text {
    margin-bottom: 0.625rem;
  }
}

.page-content {
  margin-bottom: 1.5rem;

  @media (min-width: 768px) {
    margin-bottom: 4.5rem;
  }

  &__section {
    margin-bottom: 2rem;
  }
}

.channels {
  height: 100px;
  max-height: 100px;
}

.track-vertical {
  background-color: #f2f2f2;
  position: absolute;
  width: 8px !important;
  right: 2px;
  bottom: 0px;
  top: 0px;
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;

  & > div {
    background-color: #bdbdbd !important;
    width: 4px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.scrollbar-inner {
  overflow: hidden;
  margin-right: 15px;
  width: calc(100% - 15px);

  @media (min-width: 768px) {
    margin-right: 18px;
    width: calc(100% - 18px);
  }
}
