.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    margin-top: auto;
    background: #f2f2f2;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
