.tabs-content {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.tabs-content-item {
    display: inline-block;
    padding-top: 0.5625rem;
    padding-bottom: 0.5625rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: #333333;
    border-bottom: 1px solid transparent;
    text-decoration: none !important;

    @media (min-width: 992px) {
        font-size: 1.5rem;
    }

    @media (min-width: 992px) {
        font-size: 1.75rem;
        border-bottom: 2px solid transparent;
    }

    &:hover {
        color: #e5261e;
        border-bottom-color: #e5261e;
    }

    &--active {
        color: #e5261e;
        border-bottom-color: #e5261e;
    }
}
